{% extends 'home.html' %}

{% block body %}
  {% if position %}
    <form action="{{position.id}}" method="post">
      <div class="form_block">
        <label for="">անվանում</label>
        <input type="text" name="title" placeholder="***" value="{{position.title}}">
      </div>

      <div class="form_block">
        <label for="">նկարագրությունը</label>
        <input type="text" placeholder="***" name="description" value="{{position.description}}">
      </div>

      <button>պահպանել</button>
      <a href="/admin">չեղարկել</a>
    </form>
  {% else %}
    <form action="position" method="post">
      <div class="form_block">
        <label for="">անվանում</label>
        <input type="text" name="title" placeholder="***">
      </div>

      <div class="form_block">
        <label for="">նկարագրությունը</label>
        <input type="text" placeholder="***" name="description">
      </div>

      <button>պահպանել</button>
      <a href="/admin">չեղարկել</a>
    </form>
  {% endif %}
{% endblock %}